@model String
<label for="@Html.IdFor(m => m)" class="form-label">@ViewBag.Name:</label>
<input id="@Html.IdFor(m => m)" name="@Html.NameFor(m => m)" type="text" class="form-control" value="@(Model)" />