@model String
@using System.Text.Json 
<label for="@Html.IdFor(m => m)" class="form-label">@ViewBag.Name:</label>
<select id="@Html.IdFor(m => m)" name="@Html.NameFor(m => m)" class="form-control">
    @if (ViewBag.Values.ValueKind == JsonValueKind.Array)
    {
        @foreach (var item in ViewBag.Values.EnumerateArray())
        {
            <option value="@item" selected="@((Model==item.GetString()) ? "selected" : null)">@(item)</option>
        }
    }
    else
    {
        <option value=" ">(Define a "Values" setting with array of values)</option>
    }
</select>