@model String
<label for="@Html.IdFor(m => m)" class="form-label">@ViewBag.Name:</label>
<textarea id="@Html.IdFor(m => m)" name="@Html.NameFor(m => m)" class="form-control" rows="@ViewBag.Rows">@Html.Raw(Model?.Replace("&", "&amp;"))</textarea>