@model EditModel
@{
    ViewBag.Title = Model.Item.Path ?? "new";
}

<h1>Secured Path <small class="text-muted">@(Model.Item.Path ?? "new")</small></h1>

<form asp-action="Save" asp-route-id="@Model.Item.Id" method="post" default-submit-button="" autocomplete="off" onchange-set="HasChanges" onunloadchanged-confirm="Changes will be lost. Proceed anyway ?">

    <div class="overlay" hidden></div>

    <input type="hidden" asp-for="Item.Id" />
    <input type="hidden" asp-for="HasChanges" />

    <div asp-validation-summary="All" class="alert alert-danger alert-dismissible fade show mb-3">
        <strong>Following errors have occured:</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="mb-3">
        <label for="@Html.IdFor(m => m.Item.Path)" class="form-label">Path: *</label>
        <input asp-for="Item.Path" type="text" class="form-control" list="@Html.IdFor(m => m.Item.Path)List" />
        <datalist id="@Html.IdFor(m => m.Item.Path)List">
            @foreach (var item in Model.PathsList)
            {
                <option value="@item" />
            }
        </datalist>
        <span asp-validation-for="Item.Path" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="@Html.IdFor(m => m.Item.Roles)" class="form-label">Comma-separated list of allowed roles, or '*' for any role:</label>
        <input asp-for="Item.Roles" type="text" class="form-control" />
        <span asp-validation-for="Item.Roles" class="text-danger"></span>
    </div>

    @if (Model.Item.Id != 0)
    {
        <button type="submit" class="btn btn-danger float-end" asp-action="Delete" asp-route-id="@Model.Item.Id" onclick-confirm="Are you sure ?"><i class="spinner fas fa-trash-alt"></i> Delete</button>
    }
    <button type="submit" class="btn btn-primary"><i class="spinner fas fa-check"></i> Save</button>
    <button type="submit" class="btn btn-primary" name="apply" value="true"><i class="spinner fas fa-check"></i> Apply</button>
    <a href="history:back" class="btn btn-secondary"><i class="fas fa-angle-left"></i> Back</a>

</form>
