@model EditModel
@{
    ViewBag.Title = Model.Item.FromPath ?? "new";
}

<h1>Path Redirection <small class="text-muted">@(Model.Item.FromPath ?? "new")</small></h1>

<form asp-action="Save" asp-route-id="@Model.Item.Id" method="post" onkeyenter-click="" autocomplete="off" onchange-set="HasChanges" onunloadchanged-confirm="Changes will be lost. Proceed anyway ?">

    <div class="overlay" hidden></div>

    <input type="hidden" asp-for="Item.Id" />
    <input type="hidden" asp-for="HasChanges" />

    <div asp-validation-summary="All" class="alert alert-danger alert-dismissible fade show mb-3">
        <strong>Following errors have occured:</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="mb-3">
        <label for="@Html.IdFor(m => m.Item.FromPath)" class="form-label">Path to redirect: *</label>
        <input asp-for="Item.FromPath" type="text" class="form-control" />
        <span asp-validation-for="Item.FromPath" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="@Html.IdFor(m => m.Item.IsRegex)" class="form-label">
            <input asp-for="Item.IsRegex" /> Uses regular expressions
        </label>
        <span asp-validation-for="Item.IsRegex" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="@Html.IdFor(m => m.Item.ToPath)" class="form-label">Path to redirect to: *</label>
        <input asp-for="Item.ToPath" type="text" class="form-control" list="@Html.IdFor(m => m.Item.ToPath)List" />
        <datalist id="@Html.IdFor(m => m.Item.ToPath)List">
            @foreach (var item in Model.PathsList)
            {
                <option value="@item" />
            }
        </datalist>
        <span asp-validation-for="Item.ToPath" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="@Html.IdFor(m => m.Item.StatusCode)" class="form-label">Redirect status code:</label>
        <input asp-for="Item.StatusCode" type="text" class="form-control" />
        <span asp-validation-for="Item.StatusCode" class="text-danger"></span>
<pre>  301 : Permanent redirect (client should never again request original URL)
  302 : Temporary redirect</span>
  303 : Temporary redirect and convert POST into GET
  307 : Temporary redirect but do not convert POST into GET
  308 : Permanent redirect but do not convert POST into GET
  204 : No Content (used by Sircl redirects)</pre>
    </div>

    <div class="mb-3">
        <label for="@Html.IdFor(m => m.Item.Notes)" class="form-label">Notes:</label>
        <textarea asp-for="Item.Notes" class="form-control"></textarea>
        <span asp-validation-for="Item.Notes" class="text-danger"></span>
    </div>

    @if (Model.Item.Id != 0)
    {
        <button type="submit" class="btn btn-danger float-end" asp-action="Delete" asp-route-id="@Model.Item.Id" onclick-confirm="Are you sure ?"><i class="spinner fas fa-trash-alt"></i> Delete</button>
    }
    <button type="submit" class="btn btn-primary"><i class="spinner fas fa-check"></i> Save</button>
    <button type="submit" class="btn btn-primary" name="apply" value="true"><i class="spinner fas fa-check"></i> Apply</button>
    <a href="history:back" class="btn btn-secondary"><i class="fas fa-angle-left"></i> Back</a>

</form>
