<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MvcDashboardIdentity - @(ViewBag.Title)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sircl@2.1.4/sircl.css" />
    <style>

        BODY {
            background-color: #f8f8f0;
        }

        .card {
            background-color: #fafaf8;
        }

        #body-content {
            margin-bottom: 32px;
        }

        h1 {
            padding-top: 38px;
            padding-bottom: 28px;
        }

        h2 {
            padding-top: 36px;
            padding-bottom: 24px;
        }

        .auto-width {
            width: auto;
        }

        .pagination .page-item {
            min-width: 48px;
            text-align: right;
        }

            .pagination .page-item input[type=radio] {
                display: none;
            }

        .overlay {
            background: rgba(0,0,0,0.33);
            position: absolute;
            padding: 0;
            margin: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: .25rem;
        }

        .validation-summary-valid {
            display: none;
        }

        BODY .whileloading-show {
            display: none;
        }

        BODY .whileloading-hide {
            display: inline-block; /* See https://stackoverflow.com/a/17403359 */
        }

        BODY.body-loading .whileloading-show {
            display: inline-block; /* See https://stackoverflow.com/a/17403359 */
        }

        BODY.body-loading .whileloading-hide {
            display: none;
        }

        .navbar .active {
            background-color: dimgray;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sircl@2.1.4/sircl.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sircl@2.1.4/sircl-extended.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sircl@2.1.4/sircl-changeactions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sircl@2.1.4/sircl-bootstrap5.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/sircl@2.1.4/sircl-debugging.js"></script>*@
    <script type="text/javascript" src="//cdn.tiny.cloud/1/zmtxfbers7u7pi0pav8l4ih0v4bwyvrdlqpi5zun0r6z0jsm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    @*<script type="text/javascript" src="//cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>*@
    <script type="text/javascript">

        var appId = "MvcDashboardIdentity";

        sircl.mainTargetSelector$ = "#body-content";

        sircl.addRequestHandler("onError", function (req) {
            if (req.method == "get") {
                location.href = req.action;
            } else {
                alert("An error occured with the request.");
                this.next(req);
            }
        });

    </script>
    @RenderSection("Scripts", required: false)
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <span>
                <i class="whileloading-show fas fa-spinner fa-spin" style="color: limegreen; margin-right: 3px;"></i>
                <a class="navbar-brand" asp-area="MvcDashboardIdentity" asp-controller="Home" asp-action="Index">
                    <i class="whileloading-hide fas fa-tachometer-alt"></i>&nbsp;MvcDashboardIdentity
                </a>
                <span class="btn-group" role="group" onload-load="@Url.Action("MvcDashboardsDropdown", "Home")"></span>
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarMainContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navBarMainContent">
                <ul id="topMenu" class="navbar-nav me-auto mb-2 mb-lg-0" onload-load="@Url.Action("TopMenu", "Home")" onload-reloadafter="120">
                    <li class="nav-item" ifroute-setactive="\/Users(\/|$)">
                        <a class="nav-link" asp-area="MvcDashboardIdentity" asp-controller="Users" asp-action="Index"><i class="fas fa-user"></i> Users</a>
                    </li>
                    <li class="nav-item" ifroute-setactive="\/Roles(\/|$)">
                        <a class="nav-link" asp-area="MvcDashboardIdentity" asp-controller="Roles" asp-action="Index"><i class="fas fa-theater-masks"></i> Roles</a>
                    </li>
                </ul>
                <form class="d-flex" action="/MvcDashboardIdentity/Users" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search User" aria-label="Search" name="Query">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/" target="_self"><i class="fas fa-sign-out-alt"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        @if (typeof(Sircl.Website.Areas.MvcDashboardIdentity.Controllers.BaseController).GetCustomAttributes(typeof(Microsoft.AspNetCore.Authorization.AuthorizeAttribute), true).Length == 0)
        {
            <div class="card text-white bg-danger m-3">
                <div class="card-header">Security Warning</div>
                <div class="card-body">
                    <h5 class="card-title">Your Identity Dashboard is unsecured</h5>
                    <div class="card-text">

                        <p>Uncomment the <code style="color: aqua;">[Authorize(Roles = "Administrator,IdentityAdministrator")]</code> attribute on the BaseController class of the Identity Dashboard.</p>
                    </div>
                </div>
            </div>
        }
        <div id="body-content">
            @RenderBody()
        </div>

    </div>

    <div class="modal fade beforeload-showmodal onclose-restore" id="modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content target" id="modal-lg-content">
                <div class="modal-body text-center">
                    <div style="font-size: 3em; color: darkgray; margin: 1em;">
                        <i class="fas fa-spinner fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

