@model IndexModel
@{
    ViewBag.Title = "Domains";
}

<h1>Domains</h1>

@foreach (var domain in Model.Items)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@domain.Name</h5>
            <p class="card-text"><em>@domain.Cultures</em></p>
            <a asp-action="Edit" asp-route-id="@domain.Id" class="card-link" target="#editDomainModal">Edit</a>
            <a asp-action="Index" asp-controller="Key" asp-route-domainid="@domain.Id" class="card-link">Keys</a>
            <a asp-action="Index" asp-controller="Query" asp-route-domainid="@domain.Id" class="card-link">Queries</a>
        </div>
    </div>
}

<p>
    <a asp-action="New" class="btn btn-link" target="#editDomainModal">New</a>
</p>

<div id="editDomainModal" class="modal fade" data-bs-backdrop="static" tabindex="-1">
</div>
