@model ToDoListModel

<style>
    .drop-zone {
        background-color: lightgreen;
    }

        .drop-zone * { /* https://stackoverflow.com/a/18582960 */
            pointer-events: none;
        }
</style>

<form asp-action="Submit" method="post">

    <input type="hidden" asp-for="DropData" class="drop-value" />

    <div class="container">
        <div class="row">
            <div class="col ondrop-submit" ondragover-addclass="drop-zone" ondrop-accept="busy-task done-task" formaction="@Url.Action("Drop", new  { targetZone = 0 })">
                <h3>New</h3>
                @for (int i = 0; i < Model.NewItems.Count; i++)
                {
                    <div class="card mb-3" draggable="true" drop-type="new-task" drop-value="0,@i">
                        <h5 class="card-title">@Model.NewItems[i].Name</h5>
                        <div class="card-body">
                            @Model.NewItems[i].Description
                        </div>
                        <input type="hidden" asp-for="NewItems[i].Name" />
                        <input type="hidden" asp-for="NewItems[i].Description" />
                    </div>
                }
                <p class="mb-3">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editToDoModal"><i class="fas fa-plus"></i> Add...</button>
                </p>
            </div>
            <div class="col ondrop-submit" ondragover-addclass="drop-zone" ondrop-accept="new-task done-task" formaction="@Url.Action("Drop", new  { targetZone = 1 })">
                <h3>Busy</h3>
                @for (int i = 0; i < Model.BusyItems.Count; i++)
                {
                    <div class="card mb-3" draggable="true" drop-type="busy-task" drop-value="1,@i">
                        <h5 class="card-title">@Model.BusyItems[i].Name</h5>
                        <div class="card-body">
                            @Model.BusyItems[i].Description
                        </div>
                        <input type="hidden" asp-for="BusyItems[i].Name" />
                        <input type="hidden" asp-for="BusyItems[i].Description" />
                    </div>
                }
            </div>
            <div class="col ondrop-submit" ondragover-addclass="drop-zone" ondrop-accept="busy-task" formaction="@Url.Action("Drop", new  { targetZone = 2 })">
                <h3>Done</h3>
                @for (int i = 0; i < Model.DoneItems.Count; i++)
                {
                    <div class="card mb-3" draggable="true" drop-type="done-task" drop-value="2,@i">
                        <h5 class="card-title">@Model.DoneItems[i].Name</h5>
                        <div class="card-body">
                            @Model.DoneItems[i].Description
                        </div>
                        <input type="hidden" asp-for="DoneItems[i].Name" />
                        <input type="hidden" asp-for="DoneItems[i].Description" />
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="editToDoModal" class="modal onclose-restore">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add ToDo...</h5>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label asp-for="NewItem.Name">Name:</label>
                        <input type="text" autocomplete="off" asp-for="NewItem.Name" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="NewItem.Description">Description:</label>
                        <input type="text" autocomplete="off" asp-for="NewItem.Description" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" formaction="@Url.Action("Add")">Submit</button>
                </div>
            </div>
        </div>
    </div>

</form>

<hr />

<div class="ondropfile-submit"
     form="f1"
     name="files"
     formaction="/ToDo/DropFiles"
     ondragover-addclass="drop-zone"
     ondropfile-accept="image/* application/pdf"
     ondropinvalidfile-alert="Some files were too large or of wrong type."
     ondroptoomanyfiles-alert="Too many files.&#10;Only 3 files at a time allowed."
     dropfile-maxsize="12 MB"
     dropfile-maxcount="3"
     style="border: solid 2px gray; height: 200px">

    <form class="target" id="f1" action="/ToDo/Save" method="post" enctype="multipart/form-data">
        @await Html.PartialAsync("Index_FileList", new List<string>())
    </form>

    Drop files here

</div>
