@model EditModel
@{
    ViewBag.Title = Model.Item.Name ?? "new";
    var actionName = ((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)this.ViewContext.ActionDescriptor).ActionName;
}

<h1>Document type <small class="text-muted">@(Model.Item.Name ?? "new")</small></h1>

<form asp-action="Save" asp-route-id="@Model.Item.Id" method="post" onkeyenter-click="" autocomplete="off" onchange-set="HasChanges" onunloadchanged-confirm="Changes will be lost. Proceed anyway ?">

    <div class="overlay" hidden></div>

    <input type="hidden" asp-for="Item.Id" />
    <input type="hidden" asp-for="HasChanges" />

    <div asp-validation-summary="All" class="alert alert-danger alert-dismissible fade show mb-3">
        <strong>Following errors have occured:</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="mb-3">
        <label for="@Html.IdFor(m => m.Item.Name)" class="form-label">Name: *</label>
        <input asp-for="Item.Name" type="text" class="form-control" />
        <span asp-validation-for="Item.Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="@Html.IdFor(m => m.Item.IsInstantiable)" class="form-label">
            <input asp-for="Item.IsInstantiable" /> Is instantiable (allow documents to be created of this type)
        </label>
        <span asp-validation-for="Item.IsInstantiable" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="@Html.IdFor(m => m.Item.BaseId)" class="form-label">Base document type:</label>
        <select asp-for="Item.BaseId" asp-items="Model.DocumentTypes.Select(t => new SelectListItem() { Value = t.Id.ToString(), Text = t.Name, Selected = (t.Id == Model.Item.BaseId), Disabled = (t.Id == Model.Item.Id) })" class="form-control">
            <option value=" ">-</option>
        </select>
        <span asp-validation-for="Item.BaseId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="@Html.IdFor(m => m.Item.ViewName)" class="form-label">View name:</label>
        <input asp-for="Item.ViewName" type="text" class="form-control" />
        <span asp-validation-for="Item.ViewName" class="text-danger"></span>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Properties</h5>

            @for (int i = 0; i < Model.Item.OwnPropertyTypes.Count; i++)
            {
                <input asp-for="Item.OwnPropertyTypes[i].Id" type="hidden" />
                <div class="row mb-1">
                    <div class="col">
                        <input asp-for="Item.OwnPropertyTypes[i].Name" class="form-control" autofocus="@((actionName == "AddPropertyType" && i == Model.Item.OwnPropertyTypes.Count - 1) ? "autofocus" : null)" />
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <select asp-for="Item.OwnPropertyTypes[i].DataTypeId" asp-items="Model.DataTypes.Select(t => new SelectListItem() { Value = t.Id.ToString(), Text = t.Name, Selected = (t.Id == Model.Item.OwnPropertyTypes[i].DataTypeId ) })" class="form-control">
                            </select>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#settings@(i)"><i class="spinner fas fa-cog"></i></button>
                        </div>

                        <div id="settings@(i)" class="modal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Settings</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <textarea asp-for="Item.OwnPropertyTypes[i].Settings" class="form-control" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <input asp-for="Item.OwnPropertyTypes[i].DisplayOrder" type="hidden" />
                        <button type="submit" asp-action="MovePropertyTypeUp" asp-route-id="@Model.Item.Id" asp-route-index="@i" class="btn btn-secondary" disabled="@(i==0 ? "disabled" : null)"><i class="spinner fas fa-caret-up"></i></button>
                        <button type="submit" asp-action="MovePropertyTypeDown" asp-route-id="@Model.Item.Id" asp-route-index="@i" class="btn btn-secondary" disabled="@(i==(Model.Item.OwnPropertyTypes.Count-1) ? "disabled" : null)"><i class="spinner fas fa-caret-down"></i></button>
                        <button type="submit" asp-action="DeletePropertyType" asp-route-id="@Model.Item.Id" asp-route-index="@i" class="btn btn-secondary" onclick-confirm="Are you sure ?"><i class="spinner fas fa-trash-alt"></i></button>
                    </div>
                </div>
            }
            <p>
                <button type="submit" asp-action="AddPropertyType" asp-route-id="@Model.Item.Id" class="btn btn-secondary"><i class="spinner fas fa-plus"></i> Add property type</button>
            </p>
        </div>
    </div>
    @for (int i = 0; i < Model.PropertyTypesToDelete.Count; i++)
    {
        <input asp-for="PropertyTypesToDelete[i]" type="hidden" />
    }

    <p class="mt-3">
        @if (Model.Item.Id != 0)
        {
            <button type="submit" class="btn btn-danger float-end" asp-action="Delete" asp-route-id="@Model.Item.Id" onclick-confirm="Are you sure ?"><i class="spinner fas fa-trash-alt"></i> Delete</button>
        }
        <button type="submit" class="btn btn-primary"><i class="spinner fas fa-check"></i> Save</button>
        <a href="history:back" class="btn btn-secondary"><i class="fas fa-angle-left"></i> Back</a>
    </p>

</form>
