@model SampleWebApplication.Areas.MvcDashboardIdentity.Models.Users.IndexModel

<h2>Users</h2>

<form inline-target="#body-content" history="set" onchange-submit=":form" onsubmit-show=".overlay" id="form">

    <div class="">
        <a class="btn btn-primary" href="@Url.Action("Update")" inline-target="#body-content" inline-cached="true" history="push">New</a>
        <div class="float-right form-inline mb-3">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." value="@Model.DataPage.Filter">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <a href="?" history="set" class="btn btn-light ml-2"><i class="fa fa-times"></i></a>
        </div>
    </div>

    <div style="position: relative">
        <table class="table table-hover" id="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" onchange-propagate="off"><input type="checkbox" ifchecked-check=".itemcheck" /></th>
                    <th scope="col">UserName</th>
                    <th scope="col">Email</th>
                    <th scope="col">PhoneNumber</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DataPage.Items)
                {
                    <tr href="@Url.Action("Update", new { id = item.Id })" inline-target="#body-content" inline-cached="true" history="push" id="tr-@(item.Id)">
                        <th scope="row" onclick-propagate="off" onchange-propagate="off"><input class="itemcheck" type="checkbox" name="CheckedIds" value="@item.Id" /></th>
                        <td>
                            @item.UserName
                            @if (item.IsLockedout())
                            {
                                <i class="fa fa-lock"></i>
                            }
                        </td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="hidden overlay"></div>
    </div>

    <vc:mvc-dashboard-identity-pager page="@Model.DataPage" />

</form>
