@model ChartModel

@if (Model.Grain == "hourly")
{ 
    <b>Hourly</b>
    <a href="@Url.Action("Chart", new { Grain = "daily" })" target="<DIV">Daily</a>
}
else
{
    <a href="@Url.Action("Chart", new { Grain = "hourly" })" target="<DIV">Hourly</a>
    <b>Daily</b>
}


<div>
<canvas id="logsChart" height="75"></canvas>
</div>

<script>
    var labels = [
        '@Html.Raw(String.Join("', '", Model.Labels))',
    ];

    var data = {
        labels: labels,
        datasets: [
            @foreach(var dataSet in Model.DataSets)
            {
                <text>{
                    label: '@(dataSet.Label)',
                    backgroundColor: '@(dataSet.Color)',
                    borderColor: 'gray',
                    data: [@(String.Join(", ", dataSet.Data.Select(i => i.ToString())))],
                    stack: 'a'
                },</text>
            }
        ]
    };

    var config = {
        type: '@(Model.ChartType)',
        data: data,
        options: {
            scales: {
                x: {
                    stacked: true
                },
                y: {
                    stacked: true,
                    beginAtZero: true
                }
            }
        }
    };

    $$(function() {
        new Chart(
            document.getElementById('logsChart'),
            config
        );
    });

</script>